.add-to-favorites {
    color: var(--color-red);
    font-size: 20px;

    position: absolute;
    right: 0;
    top: 0;
    
    padding: 20px 0;
    font-weight: 400;

    cursor: pointer;
}

.add-to-favorites i {
    margin-right: 8px;
}