.manga-chapters {
    background: var(--color-white);
    margin-top: 30px;

    border: 16px solid var(--color-white);
    box-shadow: -4px 4px 8px var(--color-white);
}

.manga-chapters h4 {
    color: var(--color-black);
    font-size: 28px;

    margin-bottom: 16px;
}

.manga-chapters .manga-chapter a {
    color: var(--color-black);
    text-decoration: none;
}

.manga-chapters .manga-views {
    color: var(--color-black);
}

.manga-chapter-list {
    width: calc(100% - 20px);
    border-collapse: collapse;
}

.manga-chapter-list th {
    color: var(--color-black);
    text-align: left;

    font-weight: 400;
    font-size: 20px;

    padding: 4px 8px;
}

.manga-chapter-list td {
    padding: 4px 8px;
}

.manga-chapter-list .loader-container {
    width: 100%;
    padding: 30px 16px;
}

@media (max-width: 768px) {
    .manga-chapter-list {
        font-size: 12px;
    }
}