.manga-banner {
    background: url('http://honyareader.com/banner-background.jpg');
    background-size: inherit;
    position: relative;
    left: 50%;
    transform: translateX(-50.2%);
    height: 450px;
    width: 100vw;

    margin-bottom: 50px;
}

.manga-info {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);

    width: 1080px;
    padding: 0 20px;
}

.manga-thumbnail {
    max-height: 320px;
    height: 320px;
    width: 200px;
    display: inline-block;

    overflow: hidden;

    vertical-align: top;
    box-shadow: 0 8px 16px var(--color-black);
}

.manga-thumbnail img {
    height: 100%;
    width: auto;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.manga-thumbnail .loader-container {
    width: 100%;
    height: 320px;
    overflow: hidden;

    background: var(--color-white);
}

.manga-thumbnail .loader-container > div {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.manga-text {
    width: calc(100% - 200px);
    display: inline-block;

    padding: 0 0 0 20px;

    vertical-align: bottom;
}

.manga-text .manga-title {
    text-shadow: 2px 2px 8px var(--color-black);
    color: var(--color-white);
    font-size: 50px;

    line-height: 1em;
}

.manga-text .manga-author {
    text-shadow: 2px 2px 8px var(--color-white);
    color: var(--color-black);
}

.manga-text .manga-description {
    padding: 4px;

    color: var(--color-black);

    font-size: 16px;
    margin-top: 16px;

    overflow-y: scroll;

    height: 230px;
    box-shadow: 10px 10px var(--color-black);
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-black);
    border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-dgreen);
}

.manga-description span {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;

    margin-bottom: 8px;

    display: block;
}

.manga-description span i {
    margin-right: 4px;
}

@media (max-width: 768px) {
    .manga-banner {
        height: 200px;
        background-size: cover;
    }

    .manga-info {
        width: 100%;
    }

    .manga-thumbnail {
        width: 100px;
        height: 150px;
    }

    .manga-thumbnail .loader-container {
        height: 150px;
    }

    .manga-text {
        width: calc(100% - 100px);
    }

    .manga-text .manga-title {
        font-size: 36px;
    }

    .manga-text .manga-author {
        font-size: 12px;
    }

    .add-to-favorites {
        font-size: 12px;
        padding: 0 20px;
    }
}