.manga-thumb {
    display: inline-block;
    width: 195px;
    margin-right: 18px;
    margin-bottom: 21px;

    position: relative;
}
@media ( min-width: 1080px ) {
    .manga-thumb:nth-of-type(5n) {
        margin-right: 0;
    }
}

.manga-thumb a {
    text-decoration: none;
}

.manga-thumb .image-container {
    width: 100%;
    max-height: 250px;
    overflow: hidden;
    box-shadow: 8px 8px 8px var(--color-gray);
}

.manga-thumb .loader-container {
    width: 100%;
    height: 250px;
    overflow: hidden;

    background: var(--color-black);
}

.manga-thumb .loader-container > div {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.manga-thumb .image-container img {
    width: 100%;
    display: block;
}

.manga-thumb .info-container {
    margin: 16px 0 0 0;
    color: var(--color-black);
}

.manga-thumb .history-float {
    position: absolute;
    top: 15px;
    right: 0;

    padding: 8px 8px;
    font-size: 14px;

    background-color: var(--color-black);
    color: var(--color-white);
}

.manga-thumb .info-container .manga-title {
    text-shadow: 2px 2px 8px var(--color-white);
}

@media (max-width: 500px) {
    .manga-thumb {
        width: 180px;
        vertical-align: top;
    }

    .manga-thumb:nth-of-type(2n) {
        margin-right: 0;
    }

    .manga-thumb .info-container .manga-title {
        font-size: 13px;
    }
}

@media (max-width: 768px) and (min-width: 500px) {
    .manga-thumb:nth-of-type(4n) {
        margin-right: 0;
    }

    .manga-thumb {
        width: 170px;
        vertical-align: top;
    }

    .manga-thumb .info-container .manga-title {
        font-size: 14px;
    }
}