@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

html {
    --background: url('http://honyareader.com/background.jpg');
    --color-red: #ed1c24;
    --color-black: #202020;
    --color-gray: #a2a2a2;
    --color-white: #ffffff;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
}

.app {
    min-width: 100%;
    min-height: 100vh;
    max-width: 100vw;

    overflow: hidden;

    background: var(--background);
    background-size: initial;
    background-repeat: repeat;

    position: relative;
}

.app-container {
    display: block;
    margin: auto;

    max-width: 1080px;

    padding: 16px;
}

@media (max-width: 768px) {
    .app {
        background-position: top;
        background-size: contain;
    }
}

/* @media (min-width: 500px) and (max-width: 768px) {
    .app-container {
        display: block;
        margin: auto;
        
        max-width: 450px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .app-container {
        display: block;
        margin: auto;

        max-width: 750px;
    }
} */