#page-login .title {
    margin-top: 100px;
    margin-bottom: 20px;

    font-size: 72px;
    letter-spacing: 5px;
    
    color: var(--color-black);
    text-shadow: 5px 5px var(--color-black);
}

#page-login .form-container.login {
    max-width: 400px;
    padding: 16px;
    box-shadow: 2px 2px 8px var(--color-white);
}

#page-login .form-group {
    display: block;
    margin-bottom: 16px;

    position: relative;
}

.form-group .form-label {
    width: 100%;
    display: block;

    font-size: 16px;
    
    position: absolute;
    bottom: 8px;
    left: 16px;

    letter-spacing: 1px;

    color: var(--color-black);
    z-index: 0;
}

.form-group .form-label i {
    width: 30px;
}

.form-group .form-control {
    width: 100%;
    padding: 8px 48px;

    border: 0;
    border-bottom: 2px solid var(--color-black);

    background: transparent;

    position: relative;
    z-index: 1;

    color: var(--color-black);

    font-size: 16px;
}

.form-group .form-control:focus,
.form-group #submit:focus {
    outline: 0;
}

.form-group #submit {
    margin-top: 20px;

    border: 1px solid var(--color-black);
    background: transparent;

    color: var(--color-black);

    text-transform: uppercase;

    font-size: 16px;
    padding: 8px 48px;
    cursor: pointer;

    transition: .15s ease-in;
}

.form-group #submit:hover {
    background: var(--color-black);
    color: var(--color-white);

    transition: .15s ease-out;
    box-shadow: 5px 5px var(--color-black);
}

#page-login .registration {
    padding: 8px 0px;
}

#page-login .registration p,
#page-login .registration p a {
    color: var(--color-black);

    font-size: 16px;
    
    text-decoration: none;
}