.header-nav {
    display: inline-block;
    width: 50%;

    vertical-align: middle;
}

.main-menu {
    padding-left: 0;
    list-style: none;

    text-align: right;
}

.header-nav .main-menu > .menu-item {
    color: var(--color-black);

    font-weight: 400;
    font-size: 20px;

    letter-spacing: 1px;
    display: inline-block;

    position: relative;

    line-height: 64px;
}

.header-nav .menu-item:hover {
    text-decoration: underline;
}

.header-nav .menu-item:not(:last-of-type) {
    margin-right: 20px;
}

.header-nav .menu-item i {
    color: var(--color-black);

    padding: 7px 4px;
}

.header-nav .menu-item a {
    text-decoration: none;
    color: var(--color-black);
}

.header-nav .profile-sub-menu {
    width: 200px;
    background: var(--color-black);

    position: absolute;
    top: 64px;
    right: 0;

    padding-left: 0;

    display: none;

    z-index: 9999;
}

.header-nav .menu-item:hover > .profile-sub-menu {
    display: block;
}

.header-nav .profile-sub-menu > .menu-item {
    color: var(--color-white);

    font-weight: 400;
    font-size: 20px;
    
    letter-spacing: 1px;
    display: block;

    text-align: left;

    width: 100%;
    margin: 0;

    padding: 4px 20px 4px 20px;
    line-height: 24px;
}

.profile-sub-menu .menu-item i,
.profile-sub-menu .menu-item a {
    color: var(--color-white);

    text-decoration: none;
}

.profile-sub-menu .menu-item a {
    padding: 4px 0;
    display: inline-block;
    width: 100%;
}

@media (max-width: 1080px) {
    .header-nav {
        display: none;
    }
}