@media (min-width: 1080px) and (max-width: 10000px) {
    .sidebar-nav {
        display: none !important;
    }
}

.sidebar-nav {
    display: inline-block;
    width: 50%;
    vertical-align: middle;

    text-align: right;

    padding: 0 20px;
}

.sidebar {
    width: 100%;
    height: calc(100vh - 120px);
    position: absolute;
    top: 120px;

    z-index: 999;
    padding: 20px;

    background: var(--color-white);
    left: 100%;

    box-shadow: 2px 7px 8px var(--color-black);

    transition: left .15s ease-in-out;
}

.sidebar.open {
    left: 0;

    transition: left .15s ease-in-out;
}

.sidebar-nav .menu-item {
    text-align: left;
    font-size: 18px;
    padding: 12px 8px;

    border-bottom: 1px dashed var(--color-black);
}

.sidebar-nav .divider {
    text-align: left;
    font-size: 16px;

    color: var(--color-black);
    
    padding: 8px;
    margin-top: 20px;
}

.sidebar-nav .menu-item a {
    color: var(--color-black);
    text-decoration: none;
}

.sidebar-nav .menu-item i {
    margin-right: 10px;
}