.reader {
    width: 100%;
}

.reader-container {
    width: 700px;
    margin: auto;
    display: block;
}

@media (max-width: 500px) {
    .reader-container {
        width: 100%;
        margin: auto;
        display: block;
    }
}