.manga-synopsis {
    padding: 20px;
    margin: 10px 0 30px 0;

    background: var(--color-white);
}

@media (max-width: 768px) {
    .manga-synopsis h3 {
        font-size: 20px;
    }

    .manga-synopsis p {
        font-size: 12px;
    }
}