.banner {
    background: url('http://honyareader.com/banner-background.jpg');
    background-size: inherit;
    position: relative;
    left: 50%;
    transform: translateX(-50.2%);
    height: 450px;
    width: 100vw;

    margin-bottom: 50px;
}

.banner h1 {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);

    width: 1080px;
    padding: 0 20px;

    color: #ffffff;
    font-size: 70px;
    font-weight: 400;

    text-transform: uppercase;
    text-shadow: 2px 2px 16px var(--color-black);
}

@media (max-width: 768px) {
    .banner {
        height: 200px;
        background-position-y: bottom;
        background-size: cover;
    }

    .banner h1 {
        font-size: 40px;
        width: 100%;
    }
}