.main-header {
    margin: 50px 0 0 0;
}

.container {
    max-width: 1080px;
    margin: auto;
    padding: 0;
}

.container h3 {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
}

.container h3,
.container h3 a {
    color: var(--color-black);
    font-size: 42px;

    text-shadow: 3px 3px var(--color-white);
    text-decoration: none;

    line-height: 64px;
    display: inline-block;
}

.logo-container {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
}

.logo-container img {
    padding: 20px;
    width: 300px;
}

@media (max-width: 768px) {
    .main-header {
        margin: 20px 0 0 0;
    }

    .logo-container img {
        padding: 20px;
        width: 200px;
    }
}