.reader-page {
    width: 100%;
    display: none;
}

.reader-page.current {
    display: block;
}

.reader-page img {
    display: block;
    width: 100%;
    margin: auto;
}

.reader-page-container {
    position: relative;
    width: 100%;
}

.reader-page-container .controllers {
    height: 100%;
    display: block;
    position: absolute;
    width: 100%;
}

.reader-page-container  .controllers .prev,
.reader-page-container  .controllers .next {
    height: 100%;
    display: inline-block;
    width: 50%;
}