.reader-scroll {
    width: 100%;
    display: block;

    margin-bottom: 10px;
}

.reader-scroll img {
    display: block;
    width: 100%;
    margin: auto;
}

.reader-scroll-container {
    position: relative;
    width: 100%;
}

.reader-scroll-container .controllers {
    height: 100%;
    display: block;
    position: absolute;
    width: 100%;
}

.reader-scroll-container  .controllers .prev,
.reader-scroll-container  .controllers .next {
    height: 100%;
    display: inline-block;
    width: 50%;
}