.reader-controls {
    background: var(--color-white);
    padding: 45px 16px;
    
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 9999;

    opacity: 0;
    transition: opacity .75s ease-out;

    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
}

.reader-controls:hover,
.reader-controls.show {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.reader-controls .controls {
    width: 33.33%;
    display: inline-block;
    vertical-align: middle;

    line-height: 32px;
}

.reader-controls .controls:nth-of-type(1) {
    text-align: left;
}
.reader-controls .controls:nth-of-type(2) {
    text-align: center;
}
.reader-controls .controls:nth-of-type(3) {
    text-align: right;
}

.reader-controls .controls #chapter-controls {
    width: 100%;

    border: 0;
    padding: 4px 8px;

    outline: none;

    font-size: 20px;
    color: var(--color-black);
}

.reader-controls .controls .chapter-pages {
    font-size: 20px;
    color: var(--color-black);
}

.reader-controls .read-mode-options {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    
    border-radius: 5px;
    margin-right: 25px;
}

.read-mode-options span {
    font-size: 20px;
    margin-right: 8px;
}

.read-mode-options .read-mode-option {
    background: var(--color-black);

    padding: 8px;
    display: inline-block;

    text-align: center;
    cursor: pointer;

    border-radius: 3px;

    margin-right: 4px;
}

.read-mode-options .read-mode-option.current {
    border: 3px solid var(--color-black);
    background: var(--color-black);
}

.read-mode-options .read-mode-option.current i {
    color: var(--color-white);
}

.read-mode-options .read-mode-option i {
    width: 25px;
    height: 25px;

    font-size: 24px;
    color: var(--color-white);

    display: block;
}

.reader-controls .reader-close {
    display: inline-block;
    vertical-align: middle;
    width: auto;

    font-size: 18px;
}

.reader-controls .reader-close a {
    display: block;
    padding: 4px 3px;
    width: 36px;
    height: 36px;
    color: var(--color-white);

    background: var(--color-red);
    border-radius: 50%;

    text-align: center;
}

.chapter-select {
    display: inline-block;
    width: calc(100% - 100px);

    padding-right: 8px;

    vertical-align: middle;
}

.chapter-next-prev {
    display: inline-block;
    width: 80px;

    vertical-align: middle;
}

.chapter-next-prev .chapter-control {
    display: inline-block;
    width: 30px;

    vertical-align: middle;
    text-align: center;
    margin: 0 5px;

    cursor: pointer;
}

.chapter-next-prev .chapter-control i {
    font-size: 24px;
    color: var(--color-black);
}

@media (max-width: 768px) {
    .reader-controls {
        padding: 9px 16px;
    }

    .reader-controls .controls:nth-of-type(1) {
        width: 100%;
    }

    .reader-controls .controls .chapter-select {
        width: calc(100% - 50px);
    }

    .reader-controls .controls #chapter-controls {
        font-size: 12px;
    }

    .chapter-next-prev {
        width: 50px;
    }

    .chapter-next-prev .chapter-control {
        width: 12px;
    }

    .chapter-next-prev .chapter-control i {
        font-size: 16px;
    }

    .reader-controls .controls:nth-of-type(2) {
        padding: 0 16px;
        text-align: left;
    }

    .reader-controls .controls .chapter-pages {
        font-size: 16px;
    }

    .reader-controls .controls:nth-of-type(3) {
        width: 66%;
    }

    .read-mode-options span {
        font-size: 12px;
    }

    .read-mode-options .read-mode-option.current {
        border: 2px solid var(--color-black);
    }

    .read-mode-options .read-mode-option i {
        width: 15px;
        height: 15px;
        font-size: 14px;
    }

    .reader-controls .reader-close a {
        width: 28px;
        height: 28px;
        font-size: 12px;

        padding: 0;
    }
}